.input-field-wrapper {
  margin-bottom: 20px; 
}

.full-width {
  width: 100%;
}

.required {
  color: #f44336;
}

.has-error {
  ::ng-deep .mdc-notched-outline__leading,
  ::ng-deep .mdc-notched-outline__notch,
  ::ng-deep .mdc-notched-outline__trailing {
    border-color: #f44336 !important;
  }
}

.error-text-standalone {
  color: #f44336;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 75%;
  margin-top: -16px;
  padding-left: 16px;
  display: block;
}