.dialog-header {
  display: flex;
  align-items: center;
  gap: 12px;

  mat-icon {
    font-size: 32px;
    height: 32px;
    width: 32px;
  }

  h2 {
    margin: 0;
    font-weight: bold;
    color: #333;
  }
}

mat-dialog-content {
  margin-top: 16px;
  color: #4b5563;
}